<div class="text-center">
  <h1>Editing Invoice</h1>
  <%= render 'form', invoice: @invoice %>

  <%= link_to 'Back', @invoice, class: "btn btn-warning" %> |
  <%= link_to 'Delete', @invoice,  method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
</div>
