// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.calendar {
  padding-bottom: 60px;
}
.new-buttons {
  text-align: center;
}
.no-interpreter {
  color: orange;
  font-weight: bold;
}
.cancelled {
  color: red;
}
.appointment-set {
  color: green;
}
.no-show {
  color: purple;
}
.complete {
  font-weight: bold;
  color: green;
}
.legend {
  line-height: 8px;
}
// .simple-calendar {
//   .day {
//     @extend .col-sm-1;
//   }
//
//   .wday-0 {}
//   .wday-1 {}
//   .wday-2 {}
//   .wday-3 {}
//   .wday-4 {}
//   .wday-5 {}
//   .wday-6 {}
//
//   .today {}
//   .past {}
//   .future {}
//
//   .start-date {}
//
//   .prev-month {}
//   .next-month { }
//   .current-month {}
//
//   .has-events {}
// }
