<%= month_calendar events: @appointments, previous_link: appointments_ajax_previous_link, next_link: appointments_ajax_next_link do |date, events| %>
  <%= date.day %>
  <% events.each do |appointment| %>
    <div>
      <%= link_to appointment.clinic, appointment, remote: true %>
    </div>
  <% end %>
<% end %>
