
<h1 class="text-center">Appointments</h1>

<p class="text-center"><%= link_to 'New Appointment', new_appointment_path, remote: true %></p>

<div class="new-appointment text-center">
</div>
<div class="show-appointment text-center">
</div>
<div class="calendar">
  <%= render "calendar" %>
</div>
<br>
