
<div class="ajax text-center col-sm-12">
</div>

<h1 class="text-center">Appointments</h1>

<div class="calendar col-sm-12">
  <%= render "calendar" %>
  <div class="legend text-center">
    <p class="appointment-set">Appointment is set</p>
    <p class="cancelled">Appointment is cancelled</p>
    <p class="no-show">Appointment is a no show</p>
    <p class="complete">Appointment is completed</p>
    <p class="no-interpreter">Appointment has no interpreter</p>
  </div>
</div>
