
<h1 class="text-center">Appointments</h1>

<br>
<%= month_calendar events: @appointments do |date, appointments| %>
  <%= date.day %>
  <% appointments.each do |appointment| %>
    <div>
      <%= link_to appointment.clinic, appointment %>
    </div>
  <% end %>
<% end %>

<br>

<p class="text-center"><%= link_to 'New Appointment', new_appointment_path %></p>
