

<div class="patient text-center col-sm-12">
</div>

<div class="appointment text-center col-sm-12">
</div>

<h1 class="text-center">Appointments</h1>

<div class="calendar col-sm-12">
  <%= render "calendar" %>
</div>

<br>
