<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <ul class="nav navbar-nav pull-xs-right">
    <% if user_signed_in? %>
      <li class="nav-item">Welcome back <%= current_user.first_name %>!</li>
      <li class="nav-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
      <div> <li class="nav-item"><%= link_to 'New User Sign Up', new_user_registration_path %></li>
            <li class="nav-item"><%= link_to 'User Sign In', new_user_session_path %></li>
      </div>
    <% end %>
  </ul>
</div>
